<html>
<body style="background-color:powderblue;">
div
    title form demo
    body
        form(method="post",action="/saveForm")
            p Enter your credentials
            extra &nbsp;&nbsp; username
            input(type="text",name="yourName")
            <br />
            extra &nbsp;&nbsp; password
            input(type="text",name="your password")
            <br /> <br />
            input(type="submit" value="send")
            </form>
</body>
</html>
