html   
    title My index Page
    link(rel="stylesheet", href="/css/mystyle.css",type="text/css")
    script(src="/scripts/myscript.js")
    body 
    
        div
            h1 Kyoani Fan Merch
            ul
                li  Merch
                li Fan
            p.
                Kyoani fan merch is a fan_made website selling high-quality merch related to all
                of Kyoani productions. All money earned  will be donated to relieve their studio's tragic fire in Kyoto
                
            <a href="http://localhost:5000/form">
            <img src="/images/yui.jpg" width="150" height="200">
            <a href="https://youtube.com">
            img(src="/images/node_jade.jpg", widlth="150px",height="200px" )
            <a href="https://youtube.com">
            img(src="/images/duo.jpg", widlth="150px",height="200px" )

            - var x = 5;
    
             ul
                - for (var i=1; i<=x; i ++) {
                li Hello #{i}
                - }
              p.blueText This is a blue line 
             <button onclick="Hi()">Click   </button>
