<html>
<body style="background-color:powderblue;">
div
            <div align="right">
            <form action="/form" method="get" id="form">
            <button type="submit" form="form" value="Submit">LOGIN NOW</button>
            </form>
            </div>  
            h1 Kyoani Fan Merch
            ul
                li  Merch
                li Fan
            p.
                Kyoani fan merch is a fan_made website selling high-quality merch related to all <br />
                of Kyoani productions. All money earned  will be donated to relieve their studio's tragic fire in Kyoto <br />
                The Kyoto Animation arson attack (Japanese: 京都アニメーション放火殺人事件, Hepburn: Kyōto Animēshon hōka <br />
                
            <img src="/images/yui.jpg" width="400px" height="400px">
            &nbsp; &nbsp;
            img(src="/images/mugi.jpg", width="400px",height="400px" )
            &nbsp; &nbsp;
            img(src="/images/violet.jpg", width="400px",height="400px" )

</body>
</html>
