<html>
<body style="background-color:powderblue;">
div
        <div align="right"width="199" height= "200" >
        form(method="post",action="/mugiBack")
            <button style="width: 100; height: 100;" color: blue;>BACK TO DESCRIPTION PAGE</button>
            </form>
            </body>
            </html>
             
h2 Violet Evergarden High definition poster <br /> <br />

         <img src="/images/mugi.jpg"align="left" width="700" height="600">
         h2
         form(method="post",action="/saveForm")
            p Enter your delivery options
            extra &nbsp;&nbsp; full name &nbsp;
            input(type="text",name="yourName")
            <br />
            extra &nbsp;&nbsp; city &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input(type="text",name="your password")
            <br />
            extra &nbsp;&nbsp; district &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input(type="text",name="yourName")
            <br />
            extra &nbsp;&nbsp; street &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input(type="text",name="yourName")
            <br />
            <label for="payment"> &nbsp;&nbsp; payment method</label>&nbsp;
            <select id="payment">
            <option value="Paypal">Paypal</option>
            <option value="Visa">Visa</option>
            <option value="Master Card">Master Card</option>
            <option value="Online banking">Online banking</option>
            </select>
            p Total price: 29.99$
            </form>
        h3 
            <br />
            <a href="">
            <button style="width: 200; height: 40;" color: blue;>Checkout</button>

</body>
</html>