<html>
<body style="background-color:powderblue;">
div
    title form demo
    body
        form(method="post",action="/logininstead")
            p Enter your credentials
            extra &nbsp;&nbsp; full name &nbsp;&nbsp;&nbsp;&nbsp;
            input(type="text",name="yourName")
            <br />
            extra &nbsp;&nbsp; email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input(type="text",name="your password")
            <br />
            extra &nbsp;&nbsp; date of birth 
            input(type="date",name="your password")
            <br />
            extra &nbsp;&nbsp; username &nbsp;&nbsp;&nbsp;&nbsp;
            input(type="text",name="yourName")
            <br />
            extra &nbsp;&nbsp; password &nbsp;&nbsp;&nbsp;&nbsp;
            input(type="text",name="yourName")
            <br />
            extra &nbsp;&nbsp; cornfirm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input(type="text",name="yourName")
            <br />
            input(type="submit" value="complete register")
            </form>
        form(method="post",action="/logininstead")
            input(type="submit" value="login instead")
            </form>
</body>
</html>