html 
    title form demo
    body
        h2 Enter your info
        form(method="post",action="/saveForm")
            p Name
            extra &nbsp;&nbsp; username
            input(type="text",name="yourName")
            <br />
            extra &nbsp;&nbsp; password
            input(type="text",name="your password")
            <br /> <br />
            input(type="submit" value="send")
            </form>
            </body>
            </html>
