<html>
<body style="background-color:powderblue;">
div
        <div align="right">
        form(method="post",action="/saveForm")
            input(type="submit" value="BACK TO PRODUCT PAGE")
            </form>
            </body>
            </html>
             
h2 YUI High definition poster <br />
        <img src="/images/violet.jpg" width="700" height="600">

        h3 Description
        p.
          Violet Evergarden (ヴァイオレット・エヴァーガーデン, Vaioretto Evāgāden) is a Japanese light novel series written by Kana Akatsuki <br /> 
          and illustrated by Akiko Takase. It won the grand prize in the fifth Kyoto Animation Award's novel category in 2014, the first ever work <br />
          to win a grand prize in each of the three categories (novel, scenario, and manga).[2] Kyoto Animation published the first light novel on <br />
          December 25, 2015, under their KA Esuma Bunko imprint.[3] A 13-episode anime television series adaptation by Kyoto Animation aired between <br />
          January and April 2018 with several advance screenings taking place in 2017. The series was awarded Best Animation at the 2019 Crunchyrol <br />
          Anime Awards

        li elegant
        li natural material
        li long lifespan
        <br />
        input(type="submit" value="BUY NOW")

</body>
</html>