<html>
<body style="background-color:powderblue;">
div
        <div align="right">
        form(method="post",action="/saveForm")
            input(type="submit" value="BACK TO PRODUCT PAGE")
            </form>
            </body>
            </html>
             
h2 YUI High definition poster <br />
        <img src="/images/yui.jpg" width="450" height="600">

        h3 Description
        p.
            Always looking for fun, Yui is fearless; anxiety and stage fright are unknown to her. She likes everything cute and makes a <br />
            lot of physical contact with others like holding hands or hugging. She also loves everything sweet, so she's energized by the <br />
            sweets that Mugi brings, and her physical constitution is such that she does not gain weight no matter how much she eats. She <br />
            can't stand being hot or cold, so she spends the winter under the kotatsu <br />

        li cute
        li natural material
        li long lifespan
        <br />
        input(type="submit" value="BUY NOW")

</body>
</html>